#jobs
	.job
		/ %strong Job Application Status: 
		/ %span.h3= @job.status_id
		/ %br/
		/ %br/
		%strong Job Title: 
		%span.h3= @job.title
		%br/
		%br/
		%strong Company Name: 
		%span.h4= @job.company
		%br/
		%br/
		%strong Application Status: 
		%span.status= @job.status.name
		%br/
		%br/
		%strong Status Updated on: 
		%span.h4= @job.date_applied
		%br/
		%br/
		%strong Job Description: 
		%h4=simple_format(h(@job.description), class: "textArea") 
		%br/
		%br/
		%strong My Cover Letter: 
		%h4=simple_format(h(@job.coverletter), class: "textArea")
		%br/
		%br/
		%strong My Notes: 
		%h4=simple_format(h(@job.notes), class: "textArea")
		%br/
		%br/
		%button.btn.btn-default.black= link_to "Open Job Posting", @job.url, :target => "_blank"
		%br/
		%br/

#links
	= link_to "Back", root_path, class: "btn btn-sm btn-default black"
	= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-default black"
	= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default black"