#jobs
	.job
		%center
			%h2 YOUR JOB APPLICATIONS STATISTICS
			%br/
			%br/
		= image_tag('icon-statistics.png')
		%ul
			%strong.split-para In Progress: 
			%span.split-span= current_user.jobs.where(status_id: 1).count
			%br/
			%strong.split-para Submitted: 
			%span.split-span= current_user.jobs.where(status_id: 2).count
			%br/
			%strong.split-para Interview Scheduled: 
			%span.split-span= current_user.jobs.where(status_id: 3).count
			%br/
			%strong.split-para Accepted: 
			%span.split-span= current_user.jobs.where(status_id: 4).count
			%br/
			%strong.split-para Rejected: 
			%span.split-span= current_user.jobs.where(status_id: 5).count
			%br/