!!!
%html
%head
	= favicon_link_tag
	%title Jobs Tracker
	= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Josefin+Slab', :media => "all"
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags


%body
	/ %p.notice= notice
	/ %p.alert= alert
	%nav.navbar.navbar-default
		.container 
			.navbar-brand Job Search Tracker 
			%ul.nav.navbar-nav
				%li.home= link_to image_tag('http://i.imgur.com/QFVlUCE.png'), root_path, class: "homeLogo"
				%li= link_to 'All Jobs', jobs_path
				- Status.all.each do |status|
					%li#joblink= link_to status.name, jobs_path(status: status.name)
			= link_to '+ New Job Application', new_job_path, class: "navbar-text navbar-right navbar-link btn btn-default corner"
			= link_to 'Sign Up', new_user_registration_path, class: "navbar-text navbar-right navbar-link btn btn-default corner"
			= link_to 'Log In', new_user_session_path, class: "navbar-text navbar-right navbar-link btn btn-default corner"
			= link_to 'Log Out', destroy_user_session_path, :method => :delete, class: "navbar-text navbar-right navbar-link btn btn-default corner"


	.container

		%hr.style-five
		.col-md-6.col-md-offset-3
			= yield


