!!!
%html
%head
	%title Jobs Tracker
	= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Josefin+Slab', :media => "all"
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand Job Search Tracker
			%ul.nav.navbar-nav
				%li= link_to 'All Jobs', root_path
				- Status.all.each do |status|
					%li#joblink= link_to status.name, jobs_path(status: status.name)
			= link_to 'Add New Job', new_job_path, class: "navbar-text navbar-right navbar-link btn btn-default corner"
	.container
		.col-md-6.col-md-offset-3
			= yield


